/* Estilo para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #00000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*----Pagina index----*/
/*----Encabezado----*/
nav {
  background-color: #630404;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: #faf5f5;
  margin: 20px;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav a:hover {
  color: #080808;
}

/*----Estilo para la imagen----*/
img {
  border: 10px solid #610303;
  border-radius: 10px;
}

/*----Estilo para los párrafos----*/
p {
  font-size: 18px;
}

/*----Descripcion----*/
#intro {
  padding: 20px;
  border-radius: 10px;
}

/*----Estilo para los videos----*/
video {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px 0;
}

/*----Tabla de horarios----*/
table {
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #FF1493;
}

th, td {
  padding: 10px;
}

th {
  background-color: #FF1493;
  color: #FFF;
}

/* Estilo para el encabezado */
h1 {
  font-size: 36px;
  color: #03025a;
  text-shadow: 5px 5px 10px #ffffff;
}

/* Estilo para los enlaces de "Inicio" en el pie de página */
footer a {
  color: #FF1493;
  text-decoration: none;
}

footer {
  background-color: #FF1493;
  color: #FFF;
  padding: 10px;
  font-size: 14px;
}

/*----Estilo para el enlace de contacto----*/
#enlaces {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; 
  text-align: center;
  margin: 20px 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 100%); 
  margin: 30px; 
  transition: color 0.3s; 
}

a:hover {
  color: #FF1493; 
}

i {
  font-size: 40px;
  margin-right: 10px; 
}

/*-----color: blue; /* Cambia el color del texto a azul------*/
/*----font-size: 16px; /* Establece el tamaño de fuente en 16 píxeles---- */
/*----font-size: 16px; /* Establece el tamaño de fuente en 16 píxeles---- */
/*---- Establece un fondo con una imagen----
Ejemplos;
background-image: url('imagen.jpg');
background-size: cover;
background-color: #F0F0F0;(color se puede poner por codigo empezando por# o por nombre)----*/


